body {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
  box-sizing: content-box;
  line-height: 1.5;
}

h1 {
  text-align: center;
  margin: 0em auto 1em auto;
  padding: 1em 0 0 0;
  max-width: 80%;
}
h2 {
  text-align: center;
  margin: 1.5em auto 1em auto;
  max-width: 80%;
}

/* --- relevant for Benjamins instructions --- */
p,
figure {
  margin: 0;
}
.em p {
  margin: 1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 1em;
}
.container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
  margin: 0 1rem 1rem 0;
}
img {
  max-width: 100%;
  border-radius: 8px;
  margin: 0;
}

/* --- random item styling --- */
.red {
  color: red;
}
.center {
  text-align: center;
}

/* -------- navigation -----------*/
#logo,
#logo img {
  padding: 0;
  margin: 0;
  float: left;
  max-width: 40%;
}

.toggle,
[id^="drop"] {
  display: none;
}
/* Styling the toggle lable */
.toggle {
  display: block;
  padding: 1em;
  text-decoration: none;
  border: none;
  background-color: white;
  border-radius: 8px;
}
/* Display Dropdown when clicked on Parent Lable */
[id^="drop"]:checked + ul {
  display: block;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
nav label {
  float: right;
  padding: 0;
  line-height: 1;
}

nav a {
  text-decoration: none;
}

/* Hide the navigation menu by default */
nav ul {
  display: none;
  float: right;
  background-color: #eee;
  padding: 1em;
  margin: 0;
  border-radius: 8px;
  font-family: sans-serif;
}
nav ul li {
  list-style: none;
  width: 100%;
}

nav img {
  border-radius: 0;
  margin: 0 1em 0 0;
  padding: 0;
}

/* --- table styling --- */
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
thead,
tr > td:first-child {
  font-weight: bold;
}

/* --- hide and show images in table --- */
.hide-image {
  display: none;
  z-index: 100;
  position: absolute;
}
.preview:hover .hide-image {
  display: block;
}

/* --- img in table --- */
table img {
  margin-left: 10%;
  margin-top: -350px;
}

/* --- print media query --- */
@media print {
  body {
    font-size: 12px;
  }
  .no-print {
    display: none;
  }
  .container > * {
    flex-basis: 10ch;
  }
  section {
    page-break-inside: avoid;
  }
}
