body {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
  box-sizing: content-box;
  line-height: 1.5;
}

h1 {
  text-align: center;
  margin: 0em auto 1em auto;
  padding: 1em 0 0 0;
  max-width: 80%;
}
h2 {
  text-align: center;
  margin: 1.5em auto 1em auto;
  max-width: 80%;
}

p,
figure {
  margin: 0;
}

.em p {
  margin: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 1em;
}
.container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
  margin: 0 1rem 1rem 0;
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin: 0;
}

/* -------- navigation -----------*/
.toggle,
[id^="drop"] {
  display: none;
}
/* Styling the toggle lable */
.toggle {
  display: block;
  padding: 1em;
  text-decoration: none;
  border: none;
  background-color: white;
  border-radius: 8px;
}
/* Display Dropdown when clicked on Parent Lable */
[id^="drop"]:checked + ul {
  display: block;
}

#logo {
  padding: 0;
  float: left;
  background-color: white;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
nav label {
  float: right;
  padding: 0;
  line-height: 1;
}

nav a {
  text-decoration: none;
}

/* Hide the navigation menu by default */
nav ul {
  display: none;
  float: right;
  background-color: #eee;
  padding: 1em;
  margin: 0;
  border-radius: 8px;
  font-family: sans-serif;
}
/* Change menu item's width to 100% */
nav ul li {
  list-style: none;
  width: 100%;
}

nav img {
  border-radius: 0;
  margin: 0 1em 0 0;
  padding: 0;
}

.red {
  color: red;
}

.center {
  text-align: center;
}
