body {
  font-size: calc(16px + (24 - 12) * ((100vw - 320px) / (1600 - 320)));
}

img {
  max-width: 100%;
  border-radius: 8px;
}

@media (min-width: 25em) {
  img {
    max-width: 300px;
    //  width: 50%;
    float: right;
    margin: 0 0 1em 1em;
  }
}
