body {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
  box-sizing: content-box;
  line-height: 1.5;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

h1 {
  text-align: center;
  margin: 0 auto 1em auto;
  padding: 1em 0 0 0;
  max-width: 70%;
}
h2 {
  text-align: center;
  margin: 1.5em auto 1em auto;
  max-width: 80%;
}

/* --- relevant for Benjamins instructions --- */
p,
figure {
  margin: 0;
}
.em p {
  margin: 1em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 1em;
}
.container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
  margin: 0 1rem 1rem 0;
}
img {
  max-width: 100%;
  border-radius: 8px;
  margin: 0;
}

/* --- random item styling --- */
.red {
  color: red;
}
.center {
  text-align: center;
}

/* --- logo and text visibility --- */
#logo,
#logo img {
  padding: 0;
  margin: 0;
  float: left;
  max-width: calc(70px + (120 - 70) * ((100vw - 320px) / (1600 - 320)));
  z-index: -10;
  position: fixed;
}
p,
table,
h1,
h2,
h3,
ol,
ul {
  background: rgba(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

/* -------- navigation -----------*/
nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
nav input[type="checkbox"] {
  -moz-appearance:initial;
  margin: 0 2rem 0 0;
  float: right;
}
nav input[type=checkbox]::before {
  content: url(pics/menu.png);
  display:inline-block;
  background: white;
}
nav input[type=checkbox]:checked::before { /*insert image */ }​

/* Display Dropdown when clicked on checkbox */
[id^="drop"] + ul {
  display: none;
}
[id^="drop"]:checked + ul {
  display: block;
}

/* navigation list */
  nav ul {
    display: none;
    float: right;
    background-color: #eee;
    padding: 1em;
    margin: 0;
    border-radius: 8px;
    font-family: sans-serif;
  }
  nav ul li {
    list-style: none;
    width: 100%;
  }


/* --- table styling --- */
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
thead,
tr > td:first-child {
  font-weight: bold;
}

/* --- hide and show images in table --- */
.hide-image {
  display: none;
  z-index: 100;
  position: absolute;
}
.preview:hover .hide-image {
  display: block;
}

/* --- scroll snap --- */
section {
  scroll-snap-align: start;
}

/* --- img in table --- */
table img {
  margin-left: 10%;
  margin-top: -350px;
  max-width: 85%;
}

/* --- margin on sides for wide screens --- */
@media screen and (min-width: 700px) {
  main {
    margin-left: calc(1% + (70 - 1) * ((100vw - 700px) / (3000 - 700)));
    margin-right: calc(1% + (70 - 1) * ((100vw - 700px) / (3000 - 700)));
  }
}

/* --- print media query --- */
@media print {
  body {
    font-size: 12px;
  }
  .no-print {
    display: none;
  }
  .container > * {
    flex-basis: 10ch;
  }
  section {
    page-break-inside: avoid;
  }
}

/* --- dark mode --- */
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
  p,
  table,
  h1,
  h2,
  h3,
  ol,
  ul {
    background: rgba(51, 51, 51, 0.7);
  }
  nav input[type=checkbox]::before {
    content: url(pics/menu_dark.png);
    background: #333;
  }
  nav ul {
    background-color: black;
  }
  a {
    color: rgb(156, 192, 217);
  }
  .red {
    color: #f33;
  }
}
